body {
  margin-top: 1.0em;
  background-color: #ffffff;
  font-family: Arial, FreeSans, san-serif;
  color: #000000;
}

body p {
  margin: 0 0 0 20px;
  text-align: justify;
}

#container {
  margin: 10px auto;
  width: 600px;
  background-color: #fff;
}

h1 { 
    margin-bottom: 3px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 3.8em;
    font-color: #2966B8;
}

h1 .small { font-size: 0.35em; }

h1 a { text-decoration: none }

h2 { font-size: 1.5em; color: #000000; }

h2 a { text-decoration: none }

h3 { text-align: center; color: #000000; }

a { color: #000000; }

.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}

.download { float: right; padding-top: 10px; }

pre { background: #1a1a1a; color: #fff; padding: 15px;}

hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}

.footer { text-align:center; padding-top:5px; font-style: italic; }
