#!/bin/bash
# TODO.TXT-CLI-python test config all false
# Copyright (C) 2011-2012  Sigmavirus24
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# 
# TLDR: This is licensed under the GPLv3. See LICENSE for more details.

export PLAIN=0
export NO_PRI=0
export LEGACY=0
export INVERT=0
export USE_GIT=0
export PRE_DATE=0
export HIDE_PROJ=0
export HIDE_DATE=0
export HIDE_CONT=0
export TODO_DIR="_todo"
export TODOTXT_DEFAULT_ACTION="lsc"
export TODO_FILE="$TODO_DIR/todo.txt"
export DONE_FILE="$TODO_DIR/done.txt"
